<div class="container">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= review.title%>
    </p>
  </header>
  <div class="card-content">
    <div class="content has-text-weight-bold">
      <%= review.family_name %> <%= review.first_name %>
    </div>
    <div class="content">
      <%= review.place %>
    </div>
    <div class="content">
    <div class="box">
      <%= simple_format(review.body) %>
    </div>
    </div>


    <div class="level-right">
      <div class="content has-text-info">
        <%= review.user.name %>
      </div>
    </div>
    <div class="level-right">
      <div class="content is-size-7 has-text-grey ">
        <%= review.created_at.strftime("%Y/%m/%d (%A) %H:%M") %>
      </div>
    </div>
  </div>
  <footer class="card-footer">
  <% if user_signed_in? && current_user.id == review.user_id %>
    <%= link_to 'EDIT', "/reviews/#{review.id}/edit", class: "card-footer-item", method: :get %>
    <%= link_to 'DELETE', "/reviews/#{review.id}", class: "card-footer-item",data: {confirm: '削除してよろしいでしょうか？'}, method: :delete %>
  <% else %>
    <a href="#" class="card-footer-item is-hidden">Save</a>
    <a href="#" class="card-footer-item is-hidden">Edit</a>
    <a href="#" class="card-footer-item">Like</a>
  <% end %>
  </footer>
</div>
</div>