<!DOCTYPE html>
<html>
  <head>
    <title>MiniApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>


  <body>
    <nav class="navbar is-fixed-top">
      <div class="container">
        <div class="navbar-brand">
        <%= link_to "L/Rakugo", root_path, class: "navbar-item is-black", style: "font-weight:bold;" %>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <% if user_signed_in? %>
        <div class="container">
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to "POST NEW REVIEW", new_review_path, class: "button is-small is-black is-outlined" %>
            <%= link_to "Manage", user_path(current_user), class: "button is-small is-dark is-outlined" %>
            <%= link_to "Logout", destroy_user_session_path, class: "button is-small is-dark is-outlined", method: :delete %>
          </div>
        </div>
        </div>
        <% else %>
        <div class="container">
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to "Login", new_user_session_path, class: "button is-small is-dark is-outlined" %>
            <%= link_to "SIGNUP", new_user_registration_path, class: "button is-small is-dark is-outlined" %>
          </div>
        </div>
        </div>
      <% end %>
      </div>
    </nav>
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
    <%= yield %>
  </body>
</html>